html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

body {
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 540px) {
  body {
    font-size: 12px;
  }
}

.container {
  width: 915px;
  margin: 0 auto;
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 960px) {
  .container {
    width: 720px;
    margin: 0 auto;
    margin-top: 120px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 720px) {
  .container {
    width: 540px;
    margin: 0 auto;
  }
}

@media (max-width: 540px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
}

.payment-number {
  width: 430px;
  height: 200px;
  -webkit-box-shadow: 0 0 23px 21px whitesmoke;
          box-shadow: 0 0 23px 21px whitesmoke;
}

.payment-number__wrapper {
  padding: 25px 20px;
}

@media (max-width: 540px) {
  .payment-number__wrapper {
    padding: 15px 20px;
  }
}

.payment-number__wrapper img {
  width: 150px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 20px;
}

.payment-number__text {
  margin-bottom: 20px;
  color: #757575;
}

.payment-number__amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.payment-number__amount p {
  font-weight: 700;
}

.payment-number__amount span {
  font-weight: 400;
}

@media (max-width: 960px) {
  .payment-number {
    margin-left: 15px;
    width: 374px;
    margin-bottom: 10px;
  }
}

@media (max-width: 540px) {
  .payment-number {
    width: 300px;
    margin-left: 10px;
  }
}

.payment-form {
  width: 450px;
  -webkit-box-shadow: 0 0 23px 21px whitesmoke;
          box-shadow: 0 0 23px 21px whitesmoke;
}

.payment-form__wrapper {
  padding: 50px 60px;
  margin-bottom: 10px;
}

@media (max-width: 960px) {
  .payment-form__wrapper {
    padding: 50px 25px;
  }
}

@media (max-width: 540px) {
  .payment-form__wrapper {
    padding: 40px 15px;
  }
}

.payment-form__card-number {
  margin-bottom: 20px;
  color: #a8a8a8;
}

.payment-form__card-number div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.payment-form__card-number label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.payment-form__card-number input {
  width: 330px;
  height: 40px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #a8a8a8;
  outline: none;
}

.payment-form__card-number img {
  width: 25px;
  height: 22px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 15px;
}

.payment-form__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
  color: #a8a8a8;
}

.payment-form__card-period {
  margin-right: 35px;
}

.payment-form__card-period label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.payment-form__card-period input {
  width: 147px;
  height: 40px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #a8a8a8;
  outline: none;
}

@media (max-width: 540px) {
  .payment-form__card-period input {
    width: 120px;
  }
}

@media (max-width: 960px) {
  .payment-form__card-period {
    margin-right: 30px;
  }
}

.payment-form__card-code div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.payment-form__card-code label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.payment-form__card-code input {
  width: 147px;
  height: 40px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #a8a8a8;
  outline: none;
}

@media (max-width: 540px) {
  .payment-form__card-code input {
    width: 120px;
  }
}

.payment-form__card-code img {
  width: 25px;
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0px;
  margin: auto 0;
  right: 15px;
}

.payment-form__btn {
  width: 330px;
  height: 40px;
  background: #4384d0;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 960px) {
  .payment-form__btn {
    width: 325px;
  }
}

@media (max-width: 540px) {
  .payment-form__btn {
    width: 270px;
  }
}

@media (max-width: 960px) {
  .payment-form {
    margin-left: 15px;
    width: 374px;
    margin-top: 10px;
  }
}

@media (max-width: 540px) {
  .payment-form {
    width: 300px;
    margin-left: 10px;
  }
}

.payment-sistems {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.payment-sistems__visa {
  width: 40px;
  margin-right: 13px;
}

@media (max-width: 540px) {
  .payment-sistems__visa {
    margin-right: 8px;
  }
}

.payment-sistems__mastercard {
  width: 40px;
  margin-right: 13px;
}

@media (max-width: 540px) {
  .payment-sistems__mastercard {
    margin-right: 8px;
  }
}

.payment-sistems__union {
  width: 40px;
  margin-right: 13px;
}

@media (max-width: 540px) {
  .payment-sistems__union {
    margin-right: 8px;
  }
}

.payment-sistems__prostir {
  width: 51px;
  height: 12px;
  margin-right: 13px;
}

@media (max-width: 540px) {
  .payment-sistems__prostir {
    margin-right: 8px;
  }
}

.payment-sistems__pci {
  width: 40px;
  margin-right: 120px;
}

@media (max-width: 960px) {
  .payment-sistems__pci {
    margin-right: 60px;
  }
}

@media (max-width: 540px) {
  .payment-sistems__pci {
    margin-right: 18px;
  }
}

.payment-sistems__language {
  color: #a8a8a8;
  background: transparent;
  border: none;
  outline: none;
}

@media (max-width: 960px) {
  .payment-sistems {
    margin-left: 15px;
    margin-bottom: 30px;
  }
}

@media (max-width: 540px) {
  .payment-sistems {
    margin-left: 10px;
  }
}
/*# sourceMappingURL=main.css.map */