@import "reset.scss";


body {
    font-family: 'Montserrat', sans-serif;
    @media (max-width: 540px) {
        font-size: 12px;
    }
}

.container {
    width: 915px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 960px) {
        width: 720px;
        margin: 0 auto;
        margin-top: 120px;
        flex-direction: column-reverse;
    }
    @media (max-width: 720px) {
        width: 540px;
        margin: 0 auto;
    }
    @media (max-width: 540px) {
        width: 320px;
        margin: 0 auto;
    }
}

.payment-number {
    width: 430px;
    height: 200px;
    box-shadow: 0 0 23px 21px rgba(245, 245, 245, 1);
    &__wrapper {
        padding: 25px 20px;
        @media (max-width: 540px) {
            padding: 15px 20px;
        }
        & img {
            width: 150px;
            height: auto;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__text {
        margin-bottom: 20px;
        color: #757575;
    }
    &__amount {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & p {
            font-weight: 700;
            }
        & span {
            font-weight: 400;
        }
    }
    @media (max-width: 960px) {
        margin-left: 15px;
        width: 374px;
        margin-bottom: 10px;
    }
    @media (max-width: 540px) {
        width: 300px;
        margin-left: 10px;
    }
}

.payment-form {
    width: 450px;
    box-shadow: 0 0 23px 21px rgba(245, 245, 245, 1);
    &__wrapper {
        padding: 50px 60px;
        margin-bottom: 10px;
        @media (max-width: 960px) {
            padding: 50px 25px;
        }
        @media (max-width: 540px) {
            padding: 40px 15px;
        }
    }
    &__card-number {
        margin-bottom: 20px;
        color: #a8a8a8;
        & div {
            display: flex;
            position: relative;
        }
        & label {
            display: flex;
            margin-bottom: 15px;
        }
        & input {
            width: 330px;
            height: 40px;
            padding: 10px 15px;
            border-radius: 5px;
            border: 1px solid #a8a8a8;
            outline: none;
        }
        & img {
            width: 25px;
            height: 22px;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 0;
            right: 15px;
        }
    }
    &__block {
       display: flex;
       margin-bottom: 35px;
       color: #a8a8a8;
    }
    &__card-period {
        margin-right: 35px;
        & label {
            display: flex;
            margin-bottom: 15px;
        }
        & input {
            width: 147px;
            height: 40px;
            padding: 10px 15px;
            border-radius: 5px;
            border: 1px solid #a8a8a8;
            outline: none;
            @media (max-width: 540px) {
                width: 120px;
            }
        }
        @media (max-width: 960px) {
            margin-right: 30px;
        }
    }
    &__card-code {
        & div {
            display: flex;
            position: relative;
        }
        & label {
            display: flex;
            margin-bottom: 15px;
        }
        & input {
            width: 147px;
            height: 40px;
            padding: 10px 15px;
            border-radius: 5px;
            border: 1px solid #a8a8a8;
            outline: none;
            @media (max-width: 540px) {
                width: 120px;
            }
        }
        & img {
            width: 25px;
            height: 24px;
            position: absolute;
            top: 0;
            bottom: 0px;
            margin: auto 0;
            right: 15px;
        }
    }
    &__btn {
        width: 330px;
        height: 40px;
        background: #4384d0;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        @media (max-width: 540px) {
            width: 250px;
        }
    }
    @media (max-width: 960px) {
        margin-left: 15px;
        width: 374px;
        margin-top: 10px;
    }
    @media (max-width: 540px) {
        width: 300px;
        margin-left: 10px;
    }

}

.payment-sistems {
    margin-left: 10px;
    display: flex;
    align-items: center;
    &__visa {
        width: 40px;
        margin-right: 13px;
        @media (max-width: 540px) {
            margin-right: 8px;
        }
    }
    &__mastercard {
        width: 40px;
        margin-right: 13px;
        @media (max-width: 540px) {
            margin-right: 8px;
        }
    }
    &__union {
        width: 40px;
        margin-right: 13px;
        @media (max-width: 540px) {
            margin-right: 8px;
        }
    }
    &__prostir {
        width: 51px;
        height: 12px;
        margin-right: 13px;
        @media (max-width: 540px) {
            margin-right: 8px;
        }
    }
    &__pci {
        width: 40px;
        margin-right: 120px;
        @media (max-width: 960px) {
            margin-right: 60px;
        }
        @media (max-width: 540px) {
            margin-right: 18px;
        }
    }
    &__language {
        color: #a8a8a8;
        background: transparent;
        border: none;
        outline: none;
    }
    @media (max-width: 960px) {
        margin-left: 15px;
        margin-bottom: 30px;
    }
    @media (max-width: 540px) {
        margin-left: 10px;
    }
}